.header-home{
    /* padding: 4%; */
    background-color: black;
    color: white;
}
#logout{   
    background-color: rgb(102, 174, 207);
}
.homelogo{
    padding: 0%;
    margin: 0%;
    border: 0%
}
.balance-wrapper{
    text-align: center;   
}
#btn-balance, #btn-notification{
    padding: 1%;
    background-color: rgb(89, 170, 236);
    margin: 1%
}

